.login-content {
  display: flex;
    position: relative;
    background-color: lightblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    background-color: rgb(241, 239, 239);
    padding-top: 10px;
    padding-bottom: 30px;
}

.form-login {
  text-align: center;
  margin-left: 12;
  align-items: start;
  justify-content: start;
}
.example-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.example-container > * {
  width: 95%;
}

.acessar-content {
  margin-left: 38%;
}

.senha-content {
  margin-left: 30%;
}

.space {
  padding: 20px;
}