<mat-card class="noticia-content">
    <mat-card-content>
        <mat-card-title class="form-noticia">Crie sua noticia</mat-card-title>
    </mat-card-content>
    <div class="example-container">

        <mat-form-field appearance="outline">
            <mat-label>Titulo da noticia</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Detalhes</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Data publicação</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Categoria</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
</mat-card>