<div class="template-content">
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="spacer"></span>
      <span>Portal Noticia</span>
      <section>
        <div>
          <a mat-button routerLink="/home">Pagina Inicial</a>
        </div>
      </section>
      <section>
        <div >
          <a mat-button>Politica</a>
        </div>
      </section>
      <section>
        <div>
          <a mat-button>Esporte</a>
        </div>
      </section>
      <span class="spacer"></span>
      <section>
        <div>
          <a mat-button class="login-content" routerLink="/login" *ngIf="!logged">Login<mat-icon>lock_person</mat-icon></a>
          <a mat-button class="login-content" routerLink="/cadastro" *ngIf="!logged">Cadastrar<mat-icon>person</mat-icon></a>
          <span><mat-icon class="login-content" *ngIf="logged">person</mat-icon></span>
          <a mat-button class="login-content" routerLink="/noticia" *ngIf="logged">Criar Noticia<mat-icon>newspaper</mat-icon></a>
        </div>
      </section>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>