<div class="template-content">
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="spacer"></span>
      <span>Portal Noticia</span>
      <section>
        <div>
          <button mat-button>Pagina Inicial</button>
        </div>
      </section>
      <section>
        <div >
          <button mat-button>Politica</button>
        </div>
      </section>
      <section>
        <div>
          <button mat-button>Esporte</button>
        </div>
      </section>
      <span class="spacer"></span>
      <section>

        <div>
          <a mat-button class="login-content" routerLink="/login">Login<mat-icon>lock_person</mat-icon></a>
        </div>
      </section>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>