<div class="main-content">
  <mat-toolbar>
  <mat-toolbar-row>
    <span>Portal Noticia</span>
    <section>
      <div class="example-button-row">
        <button mat-button>Pagina Inicial</button></div>
    </section>
    <section>
      <div class="example-button-row">
        <button mat-button>Politica</button></div>
    </section>
    <section>
      <div class="example-button-row">
        <button mat-button>Esporte</button></div>
    </section>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

</div>